@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

.icon-primary {
  filter: invert(40%) sepia(85%) saturate(1200%) hue-rotate(210deg) brightness(100%) contrast(95%);
}

.icon-gray {
  filter: invert(47%) sepia(9%) saturate(332%) hue-rotate(182deg) brightness(94%) contrast(86%);
}

.nav-item:hover .icon-gray {
  filter: invert(40%) sepia(85%) saturate(1200%) hue-rotate(210deg) brightness(100%) contrast(95%);
  transition: filter 0.2s ease-in-out;
}